<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Introduction To Programming</title>
    <meta name="description" content="My public repository for the introduction to programming tutorial at the Karlsruhe Institute of Technology (KIT)">
    <meta name="author" content="Daniel J. H.">
    <link href="css/default.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 class="to-upper">Introduction To Programming</h1>
    </header>
    <article>
      <p>
        <small>
          <a class="space-lr" href="https://github.com/daniel-j-h/kit-tut-prog/commits/gh-pages.atom">RSS Feed</a>
          <a class="space-lr" href="https://github.com/daniel-j-h/kit-tut-prog/tree/gh-pages">Repository</a>
          <a class="space-lr" href="mailto:daniel&part;trvx&sdot;org">Contact</a>
        </small>
      </p>
      <ul>
        {% for fd in entries|sort %}
        <li class="to-upper space-tb"><a href="build/{{ fd }}.html">{{ fd }}</a></li>
        {% endfor %}
      </ul>
    </article>
    <footer>
      <small>index built {{ modified }}</small>
    </footer>
  </body>
</html>
