{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsblatt bis 17.12.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Bunte Beispiele
* Übungsblatt
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Vererbung
* Interfaces
* Generics
</section>


<section data-markdown>
### [Vererbung](http://docs.oracle.com/javase/tutorial/java/IandI/subclasses.html)

* TODO composition vs. inheritance, final
</section>


<section data-markdown>
### Interfaces

* TODO contract, implement interface(s)
</section>


<section data-markdown>
### Generics

* TODO java7 diamond
</section>


<section data-markdown>
### Jetzt seid ihr gefragt

* stack interface
* listimpl. and arrayimpl.
* generic data
</section>


<section data-markdown>
### Bunte Beispiele: []()

</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt

* Hinweise beachten
* Checkstyle verwenden
* Praktomat checks
* nur java.lang nutzen
* Doppelt verkettete Liste
* Unit tests
</section>

{% endblock %}
