{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

<strong>Letztes Tutorium</strong>
</section>


<section data-markdown>
### Agenda

* Nützliches
* Q&A
</section>


<!-- 2 --!>
<section data-markdown>
### Nützliches

* Regex
* APIs
* UML
* VCS
</section>


<section data-markdown>
### [Regex](https://en.wikipedia.org/wiki/Regular_expression)

[String](http://docs.oracle.com/javase/7/docs/api/java/lang/String.html)

* matches
* replaceAll
* split
</section>


<section data-markdown>
### [Regex](https://en.wikipedia.org/wiki/Regular_expression)

[Pattern](http://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html)

* Pattern
* Matcher
</section>


<section data-markdown>
### [APIs](http://docs.oracle.com/javase/7/docs/api/)

* Grober Überblick
* Wisst euch zu helfen
</section>


<section data-markdown>
### [UML](https://en.wikipedia.org/wiki/Unified_Modeling_Language)

Modeling language, kurzer Einblick

* Klassendiagramm
* Sequenzdiagramm
* Zustandsdiagramm
</section>


<section data-markdown>
### [Revision control](https://en.wikipedia.org/wiki/Revision_control)

Kurze Einführung [Git](http://git-scm.com/book)
</section>


<section data-markdown>
### [Git](http://git-scm.com/book)

    git init
    git add .
    git commit
</section>


<section data-markdown>
### [Git](http://git-scm.com/book)

    git pull --rebase
    git push
</section>


<section data-markdown>
### Bunte Beispiele: [Git](http://git-scm.com/book)

    git clone git://github.com/hakimel/reveal.js.git
    cd reveal.js
    git tag
    git checkout v2.1
</section>


<section data-markdown>
### [Git](http://git-scm.com/book)

* [Github](https://github.com/)
* [Bitbucket](https://bitbucket.org/)
</section>


<section data-markdown>
### Q&A

</section>


<section data-markdown>
### Empfehlungen

* "Effective Java"
* "Regular Expressions Pocket Reference"
</section>


<!-- 3 --!>
<section data-markdown>
### Erinnerung

* Prüfung anmelden (Studienportal)
* Bei Fragen <daniel@trvx.org>
* Folien [kit.trvx.org](http://kit.trvx.org)
* Viel Erfolg!
</section>

{% endblock %}
