{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Praktomat anmelden bis 2.11.2012
* Praktomat-Disclaimer bis 2.11.2012
* Übungsblatt bis 5.11.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Styles and Standards
* Wiederholung Vorlesung
* Bunte Beispiele
* Übungsblatt Teilaufgabe B
</section>


<!-- 2 --!>
<section data-markdown>
###  Styles and Standards
* [Sun/Oracle Code Conventions](http://www.oracle.com/technetwork/java/codeconv-138413.html)
* Checkstyle (später)


</section>


<section data-markdown>
###  Styles and Standards

[JPL Institutional Coding Standard](http://lars-lab.jpl.nasa.gov/JPL_Coding_Standard_C.pdf) (e.g. [Curiosity](https://en.wikipedia.org/wiki/Mars_Curiosity))

<blockquote>Place no more than one statement or declaration per line of text.</blockquote>
<blockquote>Use short functions with a limited number of parameters.</blockquote>
</section>


<section data-markdown>
###  Styles and Standards

[JSF Air Vehicle](https://en.wikipedia.org/wiki/F-35_Lightning_II) [C++ Coding Standards](http://www.jsf.mil/downloads/documents/JSF_AV_C++_Coding_Standards_Rev_C.doc)

<blockquote>Maintainability: Source code should be written in a manner that is consistent, readable, simple in design, and easy to debug.</blockquote>
<blockquote>Readability: Source code should be written in a manner that is easy to read, understand and comprehend.</blockquote>
</section>


<section data-markdown>
### Wiederholung

* Logik
* Arithmetik
* Methoden
* Konstruktoren
</section>


<section data-markdown>
### Logik

    int a = 4 | 6;
    int b = 4 & 7;

    boolean c = true || false;
    boolean d = false && true;

* short-circuit
* bitwise |,& vs. logical ||, &&
</section>


<section data-markdown>
### Arithmetik

    float a = 7 / 2;
    int b = (int) (7.0 / 2.0);

    int c = 1;
    c += 1;

* Literals
* Casts
</section>


<section data-markdown>
### Methoden

    class Shark {
        int size;
        Laser laserAttachedToHead;

        void attack(Enemy e) {
            laserAttachedToHead.fire(e);
        }

        int getSize() {
            return size;
        }
    }

    // invoke method
    Shark erik = new Shark();
    erik.attack(somalianPirate);
</section>


<section data-markdown>
### Konstruktoren

    class Shark {
        int size;

        // constructor
        Shark(int size) {
            this.size = size;
        }
    }

    // initializes object
    Shark erik = new Shark(25);

* Konstruktorensignatur
* Shadowing und 'this'
</section>


<section data-markdown>
### Jetzt seid ihr gefragt

* Konstruktor für __Date__, __Author__, __Document__
</section>


<section data-markdown>
### Jetzt seid ihr gefragt

Eure Modellierung der letzten Woche

    class Date {
      byte day;
      byte month;
      int year;
    }
    class Author {
      String firstName;
      String lastName;
      Date dateOfBirth;
    }
    class Document {
      String title;
      Date releaseDate;
      String language;
      Author author;
    }
</section>


<section data-markdown>
### Jetzt seid ihr gefragt

[Subtile Fehlerquelle](https://en.wikipedia.org/wiki/Date_format_by_country)

    // day-month-year - approx. population in million: 3200
    // month-day-year - approx. population in million: 310
    Date d = new Date(28, 4, 1985);
    Date d = new Date(4, 28, 1985);

<blockquote>Make interfaces easy to use correctly and hard to use incorrectly</blockquote>

    Date d = new Date(new Day(28), new Month(4), new Year(1985));
</section>


<section data-markdown>
### Factory Pattern

    /* om nom nom */

    Cake chocolateCake = new Cake(new Flour(250),
                                  new Sugar(50),
                                  new Eggs(4),
                                  new Butter(100),
                                  new Chocolate(250),
                                  new Marzipan(50));


    Cake marzipanCake = new Cake(new Flour(250),
                                 new Sugar(25),
                                 new Eggs(6),
                                 new Butter(150),
                                 new Chocolate(100),
                                 new Marzipan(250));

* Welche Fehlerquellen seht ihr?
* Wie verbessern?
</section>


<section data-markdown>
### Factory Pattern

    /* om nom nom */

    Cake chocolateCake = myCakeFactory.createChocolateCake();

    Cake marzipanCake = myCakeFactory.createMarzipanCake();

* Vor- / Nachteile?
* Design Pattern (2. Semester: Softwaretechnik)
</section>


<section data-markdown>
### Bunte Beispiele: Android

Konstruktoren / Methoden

    public class DisplayMessageActivity extends Activity {
        @Override
        public void onCreate(Bundle savedInstanceState) {

          // omitted for clarity: initialization, get message, ...

          TextView textView = new TextView(this);
          textView.setTextSize(40);
          textView.setText(message);

          setContentView(textView);
        }
    }
</section>


<section data-markdown>
### Bunte Beispiele: [Redis](http://redis.io/): [Jedis driver](https://github.com/xetorthio/jedis)

Konstruktoren / Methoden

    Jedis j = new Jedis(host, port);

    j.set("key", "value");

    String ret = j.get("key");
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt B

* Hinweise beachten
* Methoden der Klassen
* Konstruktoren, Attributzuweisung
* Factory Methode, Entkopplung
* Hint [1](http://docs.oracle.com/javase/tutorial/java/nutsandbolts/index.html)
  [2](http://docs.oracle.com/javase/tutorial/java/concepts/index.html)
  [3](http://docs.oracle.com/javase/tutorial/java/javaOO/index.html)

</section>


<section data-markdown>
### Erinnerung

* Organisatorisches erledigen
* Frühzeitig Lösungen einreichen
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>

{% endblock %}
