{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Agenda

* Nachbesprechung Übungsblatt
* Wiederholung Vorlesung
</section>


<section data-markdown>
### Nachbesprechung Übungsblatt

</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Rekursion
* Suchen
* Sortieren
</section>


<section data-markdown>
### Rekursion

</section>


<section data-markdown>
### Suchen

</section>


<section data-markdown>
### Sortieren

* Bubblesort
* Selectionsort
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt

</section>

{% endblock %}
