{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

Abschlussaufgaben

* Anmeldebeginn: 28.1.
* Anmeldeschluss: 28.2.
* Abmeldeschluss: <strong>28.2.</strong>
* Ausgabetermin Teil 1: <strong>28.1.</strong>
* Ausgabetermin Teil 2: 11.2.
* Abgabefrist Teil 1: 11.3.
* Abgabefrist Teil 2: 25.3.
</section>


<section data-markdown>
### Agenda

* Nachbesprechung Übungsblatt
* Wiederholung Vorlesung
* Bunte Beispiele
</section>


<!-- 2 --!>
<section data-markdown>
### Nachbesprechung Übungsblatt 4

Statistics

* 14 Solutions
* Mean 17.7
</section>


<section data-markdown>
### Nachbesprechung Übungsblatt 4

    if (this.isEmpty() == false) { }

    if (content.length() == 0) {
        return true;
    } else {
        return false;
    }
</section>


<section data-markdown>
### Nachbesprechung Übungsblatt 5

Inheritance, Interfaces

* Override: Inheritance
* Overload: Methods, <strong>Constructors</strong> [e.g.](https://github.com/daniel-j-h/TM602X/blob/master/TM602X.hpp#L48-68)
</section>


<section data-markdown>
### Nachbesprechung Übungsblatt 5

* Return type based overloading
  [1](http://stackoverflow.com/questions/2439782/overload-with-different-return-type-in-java)
  [2](http://stackoverflow.com/questions/2744511/java-why-no-return-type-based-method-overloading)

* [Can "this" be null](http://stackoverflow.com/questions/3789528/can-this-ever-be-null-in-java)

</section>


<section data-markdown>
### Nachbesprechung Übungsblatt 5

[hashCode](http://stackoverflow.com/a/113600) <- lesen

* If the field f is a byte, char, short or int: calculate (int)f;
* If the field f is a long: calculate (int)(f ^ (f >>> 32));

.. and then do stuff with this value

<small>Josh Bloch, Effective Java</small>
</section>


<section data-markdown>
### Wiederholung

* Exceptions
* Assertions
</section>


<section data-markdown>
### [Exceptions](http://docs.oracle.com/javase/tutorial/essential/exceptions/index.html)

* throw
* catch
</section>


<section data-markdown>
### [Exceptions](http://docs.oracle.com/javase/tutorial/essential/exceptions/index.html)

    try {
        // read file
    } catch(IOException e) {
        // oops, something went wrong
    } finally {
        // cleanup

        // try-with-recources makes this obsolete, but:
        // object has to implement java.lang.AutoCloseable
    }

* [try-with-recources](http://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html)
</section>


<section data-markdown>
### [Exceptions](http://docs.oracle.com/javase/tutorial/essential/exceptions/index.html)

    public void readMyAwesomeFile() throws IOException {
        //
    }
</section>


<section data-markdown>
### [Exceptions](http://docs.oracle.com/javase/tutorial/essential/exceptions/index.html)

Hierarchy

* Error
* Exception
</section>


<section data-markdown>
### [Exceptions](http://docs.oracle.com/javase/tutorial/essential/exceptions/index.html)

Throw all the things!

    public String getValue(String key) {
        if (key.length() > 10)
            throw new IllegalArgumentException(
                "Key length is restricted by database; max 10");

        //
    }
</section>


<section data-markdown>
### Assertions

Disabled by default, use cmd line switch: -ea

* Precondition
* Postcondition
* Invariant
</section>


<section data-markdown>
### Bunte Beispiele: [TM602X](https://github.com/daniel-j-h/TM602X/)

String als Date parsen

[date from_string();](https://github.com/daniel-j-h/TM602X/blob/73f380b5d92b596e578b8db45d3b024a95b24859/main.cpp#L60-68)
</section>


<section data-markdown>
### Bunte Beispiele: [TM602X](https://github.com/daniel-j-h/TM602X/)

Wiederholung: Iteratoren

[day_iterator](https://github.com/daniel-j-h/TM602X/blob/73f380b5d92b596e578b8db45d3b024a95b24859/main.cpp#L77-83)
</section>


<section data-markdown>
### Bunte Beispiele: [Error handling in Google Go](http://golang.org/doc/articles/error_handling.html)

    // basic
    f, err := os.Open("filename.ext")

    if err != nil {
        log.Fatal(err)
    }

    // or "inlined"
    if err := datastore.Get(c, key, record); err != nil {
        return &appError{err, "Record not found", 404}
    }
</section>


<!-- 3 --!>
<section data-markdown>
### Erinnerung

* Prüfung anmelden (Studienportal)
</section>

{% endblock %}
