{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsblatt bis 19.11.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Übungsblatt Teilaufgabe B
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Arrays
* Range-based loop
</section>


<section data-markdown>
### [Arrays](http://docs.oracle.com/javase/tutorial/java/nutsandbolts/arrays.html)

<blockquote>Each class variable, instance variable, or array component is initialized with a default value when it is created (§15.9, §15.10)</blockquote>
[Java 7 Language Specification](http://docs.oracle.com/javase/specs/jls/se7/html/jls-4.html#jls-4.12.5)
</section>


<section data-markdown>
### [Range-based loop](http://docs.oracle.com/javase/specs/jls/se7/html/jls-14.html#jls-14.14.2)

    int[] values = { 5, 2, 7, 8, 2, 5 };
    int sum;

    for (int v : values)
        sum += v;
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt B

* Hinweise beachten
* Array Initialisierung
</section>


<section data-markdown>
### Erinnerung

* Frühzeitig Lösungen einreichen
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>

{% endblock %}
