{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
## Hallo!

* Daniel Hofmann <daniel@trvx.org>
* Folien [kit.trvx.org](http://kit.trvx.org)
</section>


<section data-markdown>
## Organisatorisches

* [Übungsschein anmelden](https://studium.kit.edu)
* [Praktomat anmelden](https://praktomat.info.uni-karlsruhe.de)
* [Disclaimer abgeben](https://verialg.iti.kit.edu/prog_ws12.php)
* [VPN einrichten](https://vpn.kit.edu)
* Orientierungsprüfung
</section>


<section data-markdown>
## Agenda

* System einrichten
* Wiederholung Vorlesung
* Übungsblatt Teilaufgabe A
</section>

<section data-markdown>
## System einrichten

* [Eclipse IDE](http://www.eclipse.org/downloads/)
* [JDK 7](http://jdk7.java.net/download.html)

* Zeilenbreite 120

* Kompilieren java/javac
</section>

<!-- 2 --!>
<section data-markdown>
## Wiederholung

* TODO
</section>


<!-- 3 --!>
<section data-markdown>
## Übungsblatt A

* Hinweise beachten
* Klassenentwurf
* Passende Datentypen

</section>


<section data-markdown>
## Erinnerung

* Folien [kit.trvx.org](http://kit.trvx.org)
* Organisatorisches erledigen
* Frühzeitig Lösungen einreichen
</section>

{% endblock %}
