{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsblatt bis 19.11.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* TODO
* Wiederholung Vorlesung
* Übungsblatt Teilaufgabe A
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* TODO
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt A

* Hinweise beachten
* TODO
</section>


<section data-markdown>
### Erinnerung

* Organisatorisches erledigen
* Frühzeitig Lösungen einreichen
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>

{% endblock %}
