{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsblatt bis 17.12.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Bunte Beispiele
* Übungsblatt Teilaufgabe B
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Rekursion
</section>


<section data-markdown>
### Rekursion

* linear recursion
* tail-recursion
</section>


<section data-markdown>
### Rekursion

    public static int max3(int a, int b, int c) {
      if (a >= b && a >= c)
        return a;
     else
        return max3(b, c, a);
    }
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt B

* Hinweise beachten
* Checkstyle verwenden
</section>

{% endblock %}
