{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

<strong>Letztes Tutorium</strong>
</section>


<section data-markdown>
### Agenda

* Nützliches
* Q&A
</section>


<!-- 2 --!>
<section data-markdown>
### Nützliches

* Regex
* APIs
</section>


<section data-markdown>
### Q&A

</section>


<!-- 3 --!>
<section data-markdown>
### Erinnerung

* Prüfung anmelden (Studienportal)
* Bei Fragen <daniel@trvx.org>
* Folien [kit.trvx.org](http://kit.trvx.org)
* Viel Erfolg!
</section>

{% endblock %}
