{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsblatt bis 3.12.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Bunte Beispiele
* Übungsblatt Teilaufgabe B
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Referenzen
* Listen
* Abstract Data Types
</section>


<section data-markdown>
### Referenzen

</section>


<section data-markdown>
### Listen

</section>


<section data-markdown>
### Abstract Data Types

</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt B

* Hinweise beachten
* Checkstyle verwenden
</section>


<section data-markdown>
### Erinnerung

* Frühzeitig Lösungen einreichen
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>

{% endblock %}
