{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

Abschlussaufgaben

* Anmeldebeginn: 28.1.
* Anmeldeschluss: 28.2.
* Abmeldeschluss: <strong>28.2.</strong>
* Ausgabetermin Teil 1: <strong>28.1.</strong>
* Ausgabetermin Teil 2: 11.2.
* Abgabefrist Teil 1: 11.3.
* Abgabefrist Teil 2: 25.3.
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Bunte Beispiele
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* TODO
</section>


<section data-markdown>
### Bunte Beispiele: _

* TODO
</section>


<!-- 3 --!>
<section data-markdown>
### Erinnerung

* Prüfung anmelden (Studienportal)
</section>

{% endblock %}
