{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Praktomat anmelden bis 2.11.2012
* Praktomat-Disclaimer bis 2.11.2012
* Übungsblatt bis 5.11.
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>


<section data-markdown>
### Agenda

* Wiederholung Vorlesung
* Übungsblatt Teilaufgabe B
</section>


<!-- 2 --!>
<section data-markdown>
### Wiederholung

* Methoden, Konstruktoren
</section>


<section data-markdown>
### Methoden, Konstruktoren

* TODO
</section>


<section data-markdown>
### Jetzt seid ihr gefragt

* Modifier
* Konstruktoren
* Getter, Setter
* toString() Methode

* für __Date__, __Author__, __Document__
</section>


<!-- 3 --!>
<section data-markdown>
### Übungsblatt B

* Hinweise beachten
* Methoden der Klassen
* Konstruktoren, Attributzuweisung
* Factory Methode, Entkopplung
</section>


<section data-markdown>
### Erinnerung

* Organisatorisches erledigen
* Frühzeitig Lösungen einreichen
* ATIS Poolraumbetreuung DI/MI, 15.45-17.15
</section>

{% endblock %}
