{% extends 'slide.tmpl' %}
{% block slides %}

<!-- 1 --!>
<section data-markdown>
### Organisatorisches

* Übungsschein, Prüfung anmelden (Studienportal)
</section>


<section data-markdown>
### Agenda

* Bisherige Themen
* Wiederholung Vorlesung
</section>


<!-- 2 --!>
<section data-markdown>
### [Bisherige Themen](http://kit.trvx.org/map/)


</section>


<section data-markdown>
### Wiederholung

* Rekursion
* Suchen
* Sortieren
</section>


<section data-markdown>
### Rekursion

* Linear recursion
* Tail recursion
</section>


<section data-markdown>
### Rekursion

Jetzt seid ihr gefragt

* max3() Methode
* Generisch
* Rekursiv
</section>


<section data-markdown>
### Suchen

* [Lineares Suchen](https://en.wikipedia.org/wiki/Linear_search)
* [Binäres Suchen](https://en.wikipedia.org/wiki/Binary_search)
</section>


<section data-markdown>
### Sortieren

* [Bubblesort](https://en.wikipedia.org/wiki/Bubblesort)
* [Selectionsort](https://en.wikipedia.org/wiki/Selectionsort)
</section>


<!-- 3 --!>
<section data-markdown>
### Erinnerung

* Übungsschein, Prüfung anmelden (Studienportal)
</section>

{% endblock %}
